doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .header 
      h1.white.shop  Shop
    .side-bar
      ul
        li 
          a(href="/products")  All products 
        li 
          a(href="/categories")  All categories
        li 
          a(href="/products/add")  Add a product
    .content
      block content

    if (typeof extraScript !== 'undefined')
        script(src="/javascripts/validation.js")